tmp.txt
*.c~
*.h~
*.o
search.txt
Makefile
config.h
config.log
config.status
libtool
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/nfs_application_deploy_tool
stamp-h1
.anjuta/
Debug/
autom4te.cache/
.anjuta/default.profile
.anjuta_sym_db.db
autom4te.cache/requests
