Source: nfs-application-deploy-tool
Section: admin
Priority: optional
Maintainer: root <leilei@nfschina.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, docker-engine(>=1.8), libgtk-3-dev(>=3.0), libvte-2.90-dev(>=2.90), libcairo2-dev, libxi-dev, libfakeroot:amd64, libgtksourceview-3.0-dev, libpopt0:amd64, pkg-config, libxcomposite-dev, libglib2.0-dev, libcroco3:amd64, x11proto-composite-dev, file, x11proto-randr-dev, libatk1.0-dev, libharfbuzz-dev, libxkbcommon-dev, libpng12-dev, libfontconfig1-dev, x11proto-render-dev, libwayland-dev, libgdk-pixbuf2.0-dev, libpango1.0-dev, libpixman-1-dev, x11proto-kb-dev, x11proto-xinerama-dev, libfreetype6-dev, x11proto-damage-dev, libgl1-mesa-glx:amd64, mime-support, libpthread-stubs0-dev:amd64, gawk, libmirclientplatform-mesa:amd64, libmagic1:amd64, libxdmcp-dev:amd64, libxau-dev:amd64, libxml-parser-perl, gettext, libxml2:amd64, libegl1-mesa:amd64, libunistring0:amd64, libsigsegv2:amd64, intltool, perl-modules, cpio
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/nfs-application-deploy-tool.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nfs-application-deploy-tool.git;a=summary

Package: nfs-application-deploy-tool
Architecture: any
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
